
#board {
    width: 100%;
    height: 1300px;
}

#snakeBoard {
    background-image: url("./resources/board.jpg");
    background-size: contain;
    border: 20px solid green;
}

.container {
    width: 100%;
    height: 100%;;
}

.arrows {
    margin: 0 auto;
}